.carousel-caption
	{
		h2{
			font-weight: bold;
		}
		position: absolute;
		top: 50%;
		left: 50%;
		width: 65%;
		text-align: center;
		background: rgba(255,255,255,0.3);
		border-radius: 20px;
		color: white;
		transform: translate(-50%, -50%);
		
	}