$tourHeight: 400px;
$tourWidth: 90%;
$indeicatorWidth: 14px;
$pointWidth: 10px;

//--------------
$arrowTop: ($tourHeight/2)-20px;

*{
	border-size: border-box;
}

body{
	background: #999;
}

.container{
	margin: 0 auto;
	width: $tourWidth;
	height: $tourHeight;
	background: #aaa;
}

.tour{
	
	position: relative;
	perspective: 50em;
	width: 100%;
	height: 100%;
	border:1px solid rgba(255,255,255,0.7);
	background: #222;
	overflow: hidden;
	ol{
		list-style: none;
		position: absolute;
		bottom: 5px;
		width: 50%;	
		padding: 0px;
		margin: 0 25%;
		text-align: center;
		li{
			width: $indeicatorWidth;
			height: $indeicatorWidth;
			display: inline-block;
			border: 1px solid white;
			border-radius: 50%;
			position: relative;
			z-index: 999;
			cursor: pointer;
		}
		li:after{
			content: '';
			pointer-events: none;
			transition: all .4s ease-in-out;
			position: absolute;
			top: 50%;
			left: 50%;
			width: $pointWidth;
			height: $pointWidth;
			transform: scale(0) translate(-50%, -50%);
			transform-origin: 0% 0%;
			display: inline-block;
			border-radius: 50%;
			background: rgba(255,255,255,1);
		}
		li.active:after{
			transform: scale(1) translate(-50%, -50%);
		}
	}
	
	.tour-inner{
		position: relative;
		width: 100%;
		height: 100%;
		@import '_normalSliding.scss';
		@import '_rollingEffect.scss';
		@import '_fadingEffect.scss';
	}
	
	
	
	
	a.tour-control{
		position: absolute;
		top: 0;
		right: 85%;
		bottom: 0;
		left: 0;
		display: block;
		text-decoration: none;
		cursor: pointer;
		span{
			pointer-events: none;
			width: 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
			i{
				font-size: 40px;
				color: rgba(255,255,255,0.5);
			}
		}
		&:hover{
			background: linear-gradient(90deg, rgba(0,0,0,0.35), transparent);
			i{
				color: rgba(255,255,255,1);
			}
		}
	}
	a.tour-control.right{
		right: 0%;
		left: 85%;
	}
	a.tour-control.right:hover{
		background: linear-gradient(-90deg, rgba(0,0,0,0.35), transparent);
		i{
			color: rgba(255,255,255,1);
		}
	}
	.timeLine{
		position: absolute;
		height: 3px;
		background: red;
		top: 0px;
		left: 0px;
		right: 100%;
	}
	.animate{
		animation-name: timeLine;
		animation-iteration-count: infinite;
		animation-timing-function: cubic-bezier(0, 0, 0.05, 0.85);
	}
	@keyframes timeLine{
		0%{
			background: white;
			right: 100%;
		}
		100%{
			background: red;
			right: 0%;
		}
	}
	
}

